<?xml version="1.0" encoding="UTF-8"?>
<settings>
    <category label="30000">
        <setting id="config_path" type="text" label="30001"
                 default="C:\Program Files\EqualizerAPO\config\config.txt"/>
        <setting id="default_mode" type="labelenum" label="30002" values="Simple|Avanzado" default="Simple"/>
        <setting id="debounce_ms" type="slider" label="30003" default="180"
                 range="50,50,1000" option="int"/>
    </category>
</settings>
